html,body{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: teal/; */
}

.navlist{
    display: inline-block;
}
.background{
    /* background-image: url("1.jpg"); */
    background-image:linear-gradient(to right bottom, rgba(155, 200, 115, 0.808),rgba(197, 17, 98, 0.808)),
    url("1.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    clip-path: polygon(0 0, 100% 0%, 100% 64%, 0% 100%);
}

